{% extends 'base.html' %}

{% block head %}
<title>Comunidade - Home</title>
{% endblock %}


{% block body%}
<main>
    <section class="section">
        <h1 class="titulo text">Comunidade</h1>
        <p class="text">Seja bem vindo à nossa comunidade, <a href="{{ url_for('login') }}" target="_self" rel="next">crie uma conta</a> para postar algo.</p>
    </section>
    <section class="section">
        <h2 class="titulo text">Posts</h2>
        {% for post in posts %}
            <article class="post">
                    <p class="post-titulo">
                        <a class="post-link" href="{{ url_for('post', post_id=post.id) }}" target="_self" rel="next">{{ post.titulo }}</a> <br> 
                        <small>Data: {{ post.data_publicacao.strftime('%m/%Y') }}</small>
                    </p>
                    <div>
                        <p class="post-username">
                            <img class="post-image" src="{{ url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" alt="Foto de Perfil"> <br>
                            {{ post.autor.username }}
                        </p>
                    </div>
                </div>
            </article>
        {% endfor %}
    </section>
</main>
{% endblock %}
